 # Setp 0: Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Setp 1: Load Dataset

In [2]:
df = pd.read_csv("vgsales-12-4-2019.csv")

In [3]:
df3 = df.copy()

# Setp 2: Claen Dataset

### A. Columns

### To Call specified columns
df.columns =['Rank','Name','basename','basename','Genre', ....]

### To Drop specified columns
df2.drop( columns = ['img_url','NA_Sales','PAL_Sales','JP_Sales', ....], inplace=True )

In [4]:
# Drop these columns

df3.drop( columns = ['ESRB_Rating','VGChartz_Score','Critic_Score','User_Score',
                     'Total_Shipped','Global_Sales','NA_Sales','PAL_Sales',
                     'JP_Sales','Other_Sales','Year',
                     'Last_Update','url','Vgchartzscore','img_url'], inplace=True )

In [5]:
df3.isna().sum()

Rank          0
Name          0
basename      0
Genre         0
Platform      0
Publisher     0
Developer    17
status        0
dtype: int64

In [6]:
# To make the columns lower case

df3.columns = df3.columns.str.lower()

In [7]:
# To show columns after modify

df3.columns

Index(['rank', 'name', 'basename', 'genre', 'platform', 'publisher',
       'developer', 'status'],
      dtype='object')

### B. Rows (Cells)

In [8]:
# To check duplicate rows

print('The count of duplicated is: ' , df.duplicated().sum())

The count of duplicated is:  0

In [9]:
# To shape DataFream

df3.shape

(55792, 8)

In [10]:
# To Drop null value

df3 = df3.replace([ ' ','NaN', 'Na','NA', '#', '?', '/'], np.nan)

In [11]:
# To check the missing value

df3.isna().sum()

rank          0
name          0
basename      0
genre         0
platform      0
publisher     0
developer    17
status        0
dtype: int64

In [20]:
# To check the missing value by %

(df3.isna().sum()/df3.shape[0])*100
#print('{:.2f}',(df3.isna().sum()/df3.shape[0])*100)

rank         0.00000
name         0.00000
basename     0.00000
genre        0.00000
platform     0.00000
publisher    0.00000
developer    0.03047
status       0.00000
dtype: float64

In [13]:
df3.head(1)

,rank,name,basename,genre,platform,publisher,developer,status
0,1,Wii Sports,wii-sports,Sports,Wii,Nintendo,Nintendo EAD,1

In [14]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55792 entries, 0 to 55791
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   rank       55792 non-null  int64
 1   name       55792 non-null  object
 2   basename   55792 non-null  object
 3   genre      55792 non-null  object
 4   platform   55792 non-null  object
 5   publisher  55792 non-null  object
 6   developer  55775 non-null  object
 7   status     55792 non-null  int64
dtypes: int64(2), object(6)
memory usage: 3.4+ MB

In [15]:
df3.dtypes

rank          int64
name         object
basename     object
genre        object
platform     object
publisher    object
developer    object
status        int64
dtype: object

In [26]:
# To evalote 

df3.str.dropan()

AttributeError: 'DataFrame' object has no attribute 'str'